# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Env and secret config
.env
allowed_users.json

# Virtual environments
venv/
.env/

# VS Code settings
.vscode/

# macOS and Windows system files
.DS_Store
Thumbs.db

# Log files
*.log
